html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  margin: 10vh 10vw;
}

.div-top-margin {
  margin: 10vh 0 0 0;
}

.btn {
  margin: 10px 0;
  padding: 10px;
  font-size: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  border-color: black;
}

.btn-grey {
  background-color: #e7e7e7;
}

.btn:hover {
  background-color: pink;
  
}

.text-italic {
  font-style: italic;
}
